#root {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/aenetworks/image/upload/c_fill,ar_2,w_3840,h_1920,g_auto/dpr_auto/f_auto/q_auto:eco/v1/ancient-egypt-pyramids-feature-604509996?_a=BAVAZGB00)
    center/cover no-repeat;
}

.common-card {
  background: var(--color-background);
  border-radius: var(--radius-lg, 12px);
  box-shadow: var(--shadow-md);
}
